<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filter map component</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="filter-map.component.css">
</head>
<body>
    <div class="wrapper">
        <div class="form-field filter-map">
            <input type="text" id="filter-map" placeholder="Busque por nome">
            <label for="filter-map">Busque por nome</label>
            <i>search</i>
        </div>
        <div class="form-field filter-distance">
            <input type="text" id="filter-distance" placeholder="Ex. 1KM">
            <label for="filter-distance">Distância</label>
            <i>map</i>
        </div>
    </div>
</body>
</html>