<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card component</title>
</head>
<body>
    <div class="card">
        <div class="card-image">
            <img src="../../../assets/placeholder.png" alt="">
        </div>
        <div class="card-content">
            <h3>Item da loja</h3>
            <span>Quantidade: </span>
            <hr>
            <div class="card-actions">
                <span class="price">R$ 00,00</span>
                <button class="mat-icon-button">
                    <i>add</i>
                </button>
                <button class="mat-icon-button">
                    <i>star</i>
                </button>
            </div>
        </div>
    </div>
</body>
</html>