<div class="wrapper">
    <form-field-component class="fx-2" placeholder="Ex.: Loja de construção" id="filter-map" icon="search" label="Busque por nome" name="campoBusca"></form-field-component>
    <form-field-component class="fx-1" placeholder="Ex.: 10km" id="distance-map" icon="map" label="Distância em Km" name="distance"></form-field-component>
</div>
<div class="container-page">
    <div class="map-wrapper">
        <div id="map"></div>
    </div> 
    <side-map-component nome-loja="Teste" telefone="(11)11111-1111" e-mail="teste@teste.teste"></side-map-component>
</div>