<!-- <card-component nome-item="Notebook" quantidade="10" valor="20.000,00"></card-component> -->

<!-- <form-field-component id="filter" placeholder="Qualquer coisa ?" icon="search" label="Digite algo"></form-field-component> -->

<!-- <side-map-component nome-loja="JEQUITI" telefone="(11)11111-1111" e-mail="jequiti@gmail.com"></side-map-component> -->

<!-- <header-store-component></header-store-component> -->
<!-- <menu-store-component></menu-store-component> -->
<!-- <side-store-compoenent></side-store-compoenent> -->

<!-- <side-bar-admin-component></side-bar-admin-component> -->

<!-- <header-admin-component></header-admin-component> -->