<!-- PARAMETROS Nome_loja Telefone E-mail -->
<aside class="sidebar-map">
    <img src="../../../assets/placeholder.png" alt="">
    <h1>{{nomeLoja}}</h1>
    <ul>
        <li>
            <i>phone</i>
            {{telefone}}
        </li>
        <li>
            <i>mail</i>
            {{eMail}}
        </li>
    </ul>
    <div class="group-button">
        <button class="mat-button-filled color-primary" ng-click="verGaleria()"><span>Ver galeria</span> <i>keyboard_arrow_right</i></button>
        <button class="mat-button-rounded color-primary" ng-click="visitarLoja()"><span>Visitar loja</span> <i>keyboard_arrow_right</i></button>
    </div>
</aside>
