<header class="header-store">
    <button class="mat-icon-button">
        <i>arrow_back</i>
    </button>
    <div class="form-field">
        <input type="text" id="filter-product" placeholder="Busque por produtos" ng-model="inputSeachHeader" > 
        <i>search</i>
    </div>
    <div class="group-link">
        <button class="mat-icon-button">
            <i>star</i>
        </button>
        <button class="mat-icon-button">
            <i>shopping_cart</i>
        </button>
    </div>
</header>
