<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side-Map component</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="side-store.component.css">
</head>

<body>
    <!-- PARAMETROS Nome_loja Telefone E-mail -->
    <aside class="sidebar-store">
        <h1 class="color-primary">Produtos escolhidos</h1>
        <div class="container-prod">
            <div class="item">
                <span>Nome do produto</span>
                <span>Qtd</span>
            </div>
        </div>
        <div class="frete">
            <form-field placeholder="Informe seu CEP" label="Calcular frete" id="frete" icon="map"></form-field>
            <input type="radio" name="solucao_frete" id="frete-1">
            <label for="frete-1">Solução 1</label>
            <input type="radio" name="solucao_frete" id="frete-2">
            <label for="frete-2">Solução 2</label>
            <input type="radio" name="solucao_frete" id="frete-3">
            <label for="frete-3">Solução 3</label>
        </div>
        <div class="pagamento">
            <h3>Forma de pagamento</h3>
            <a href="" class="boleto">
                <img src="../../../assets/placeholder.png" alt="">
                <span>Boleto</span>
            </a>
            <a href="" class="credit">
                <img src="../../../assets/placeholder.png" alt="">
                <span>Crédito</span>
            </a>
            <h1 class="price">R$ 00,00</h1>
        </div>
    </aside>
</body>

</html>